*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

main {
    
}
header {
    text-align: center;
}

img {
    width: 300px;
    height: 250px;
    margin-top: 10px;
}

h1 {
    margin: 10px 0 35px 0;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 130px;

}

.container-age{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 20px;
    background-color: rgb(160, 182, 175);
    border : solid  rgb(160, 182, 175) 1.5px;
    border-radius: 7px;
    margin: 0 15px;
    padding: 8px 0 30px 0;
    max-height: 400px;
}

.container3 {
    padding: 0 50px;
}
.container-result {
    text-align: center;

    margin: 0 15px;
    border-radius: 10px
}

.title-result {
    padding-top: 20px;
    font-size: 22px;
    background-color: rgb(58, 58, 58);
    height: 60px;
    border : solid  rgb(160, 182, 175) 1.5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.result {
    background-color: rgb(160, 182, 175);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0 20px 0;
    border : solid  rgb(160, 182, 175) 1.5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.result-text {
    line-height: 1.5;
}
.container>.paragraphe {
    font-size: 11px;   
    line-height: 1.6;
    max-width: 842px;
    min-width: 500px;
}

.verif-age {
    text-align: center;
    margin-top: 25px;
    min-width: 408px;
}
.verif-age>form>p { 
    margin-top: 15px;
}
.error-age {
    color: red;
    margin-top: 10px;
    font-size: 18px;
}
.start {
    display: block;
    padding-top: 20px;
}

.start-hide {
    display: none;
}

.start>a {
    color: chartreuse; 
}
.result>a {
    color: chartreuse; 
}
.start>a:hover {
    color: rgb(171, 253, 88); 
}
.result>a:hover {
    color: rgb(171, 253, 88); 
}

.question1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}
.question1-3 {
    margin-top: 35px ;
    margin-left: 80px;
}
.question3 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.ul-qst4 {
    margin: 10px 0 5px 0;
}

.form5 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.submit{
    padding: 4px 2px;
}
footer { 
    margin: 20px 0;
    text-align: center;
}

